.bg {
  background-image: url("background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: grey !important;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 4px grey !important;
}
.navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-brand {
  margin-right: auto;
}

.section:hover {
  color: #384d5a;
  font-size: 3em;
  text-shadow: 2px 2px 4px #aaa7a7;
  transition: all 0.3s ease-in-out;
}

.top:hover {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #aaa7a7;
  transition: all 0.3s ease-in-out;
}